{% extends 'base.html.twig' %}


{% form_theme form _self %}


{% block title 'Register' %}


{% block body %}
    <h1>User register</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.password) }}
        {{ form_rest(form) }}
        <input type="submit">
    {{ form_end(form) }}
{% endblock %}


{% block stylesheets %}
    <style>
        label {
            display: inline-block;
            margin: 0 0 1em;
            min-width: 8em;
            text-align: right;
        }
        .errors {
            color: red;
            display: inline-block;
            list-style: none;
            margin: 0 0 1em;
            padding: 0 1em 0;
            vertical-align: top;
        }
    </style>
{% endblock %}


{% block form_row %}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    <br>
{% endblock %}


{% block form_errors %}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{% endblock %}
